<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Object Detection</title>
  </head>
  <body>
    <h1>Upload an image for object detection</h1>
    <form method="post" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" value="Upload">
    </form>
    {% if original_image %}
      <h2>Original Image:</h2>
      <img src="{{ original_image }}" alt="Original Image">
    {% endif %}
    {% if svg_image %}
      <h2>Detected Objects:</h2>
      <img src="{{ svg_image }}" alt="SVG Image">
    {% endif %}
  </body>
</html>
